<div class="login-container">

  <div class="login-card">

    <h1>Iniciar sesión</h1>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()">

      <div class="form-group">

        <label for="email">
          Email
        </label>

        <input
          id="email"
          type="email"
          placeholder="Ingresá tu email"
          formControlName="email">

        <small
          class="error"
          *ngIf="
            loginForm.controls.email.touched &&
            loginForm.controls.email.invalid
          ">

          <span
            *ngIf="loginForm.controls.email.errors?.['required']">
            El email es obligatorio.
          </span>

          <span
            *ngIf="loginForm.controls.email.errors?.['email']">
            Ingresá un email válido.
          </span>

        </small>

      </div>

      <div class="form-group">

        <label for="password">
          Contraseña
        </label>

        <input
          id="password"
          type="password"
          placeholder="Ingresá tu contraseña"
          formControlName="password">

        <small
          class="error"
          *ngIf="
            loginForm.controls.password.touched &&
            loginForm.controls.password.invalid
          ">

          La contraseña es obligatoria.

        </small>

      </div>

      <p
        class="mensaje"
        *ngIf="mensaje">

        {{ mensaje }}

      </p>

      <button
        type="submit"
        [disabled]="loginForm.invalid">

        INICIAR SESIÓN

      </button>

    </form>

    <p class="registro-link">

      ¿No tenés una cuenta?

      <a routerLink="/registro">
        Registrate
      </a>

    </p>

  </div>

</div>